<div class="container">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dados">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="contato">
                <th mat-header-cell *matHeaderCellDef> Contato </th>
                <td mat-cell *matCellDef="let element"> {{element.contato_numero}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="endereco">
                <th mat-header-cell *matHeaderCellDef> Endereço </th>
                <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="genero">
                <th mat-header-cell *matHeaderCellDef> Gênero </th>
                <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="departamento">
                <th mat-header-cell *matHeaderCellDef> Departamento </th>
                <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="skills">
                <th mat-header-cell *matHeaderCellDef> Skills </th>
                <td mat-cell *matCellDef="let element"> {{element.skills}} </td>
            </ng-container>

            <ng-container matColumnDef="excluir">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab class="button-excluir" (click)="excluirFuncionario(element.id)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab class="button-editar" (click)="abrirDialog(element, element.id)">
                        <mat-icon>edit_document</mat-icon>
                    </button>
                </td>
            </ng-container>

         

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20]" aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

</div>