<div class="container pd-5 mt-5">
    <form #funcionarioForm="ngForm" (ngSubmit)="salvarFuncionario(funcionarioForm)">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title class="card-title"> Cadastre-se</mat-card-title>
            </mat-card-header>
            <div class="input-form input-primary">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="nome" name="nome" [(ngModel)]="funcionario.nome"  minlength="5" required>
                </mat-form-field>
            </div>

            <div class="input-form">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Contato</mat-label>
                    <input matInput placeholder="Contato" name="contato" [(ngModel)]="funcionario.contato_numero"required>
                </mat-form-field>
            </div>

            <div class="input-form">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Endereço</mat-label>
                    <input matInput placeholder="Endereço" name="endereco" [(ngModel)]="funcionario.endereco"required>
                </mat-form-field>
            </div>
            <!-- 
            <div class="input-form">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Placeholder" >
                </mat-form-field>
            </div> -->

            <div class="input-form row-form">
                <mat-form-field>
                    <mat-label>departamento</mat-label>
                    <mat-select [(ngModel)]="funcionario.departamento" name="departamento">
                        <mat-option [value]="de.value" *ngFor="let de of departamento">{{de.viewValue}}</mat-option>
                    </mat-select>
                    <!-- {{funcionario.departamento | json}} -->
                </mat-form-field>

                <mat-form-field>
                    <mat-label>gênero</mat-label>
                    <mat-select [(ngModel)]="funcionario.genero" name="genero">
                        <mat-option [value]="ge.value" *ngFor="let ge of genero">{{ge.viewValue}}</mat-option>

                    </mat-select>
                </mat-form-field>
                <!-- {{funcionario.genero | json}} -->
            </div>

            <label class="label-checkbox">Skills</label>
            <div class="section-checkbox">
                <mat-checkbox name="skills" *ngFor="let sk of skills" [checked]="skillsSelecionadas[sk]" (change)="onSkillChange(sk, $event.checked)">
                    {{ sk }}
                </mat-checkbox>
            </div>

                            <!-- {{funcionario.skills| json}} -->

       

            <mat-divider class="divider"></mat-divider>

            <div class="button-submit">
                <button mat-flat-button type="submit" class="button-clear">Salvar</button>
            </div>

        </mat-card>
    </form>
</div>